/* this style sheet */
/*


+custom buttons
+custom fonts
+background
+animations


*/


* {
    font-size: xx-large;
    scrollbar-color: #656a6c #434647;

}

body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 97vh;
    overflow: hidden;
    margin: 0;
    /* border:2px solid red;  */
    background-color: rgb(34, 34, 34);

}

#display {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 75%;
    height: 33%;
    border-radius: 10px;
    /* border: 2px solid red; */
    
}

.screen {
    border: none;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.01);
    /* border: 2px solid red; */

}

.result {
    text-align: right;
}

button {
    width: 90px;
    height: 90px;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    /* border: 4px dotted red; */
    cursor: pointer;
}

button:active {
    background-color: bisque;
}

.r0 {
    display: grid;
    width: 75%;
    grid-template-columns: 25% 25% 50%;
    /* border:2px solid red;  */
}

#equals {
    width: 100%;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width:510px;
    height:max-content;
    gap: 10px;
    /* margin-top:; */

    /* border:2px solid red;  */
}

#keys {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    width: 75%;
    /* border:2px solid red; */
}

.c1,
.c2>.r {
    display: flex;
    flex-direction: column;
    /* border:2px solid red; */
    gap: 10px;
}



/* style.css */
.history {
    position: fixed;
    width: 60%;
    height: 40%;
    /* Stay in place */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Center the card */
    background-color: #f9f9f9;
    border: 1px solid #888;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Ensure it's on top */
    display: none;
    /* Initially hidden */
    border-radius: 8px;
    /* Rounded corners */
}
.history_content { 
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow:auto;
} 

.history button {
    position: fixed;
    top: 85%;
    right: 10px;
    height:10%;
    font-size: 20px;
    border:2px solid rgb(0, 0, 0);
    /* For positioning the close button */
}
.a{
    text-align: right;
}
.q{
    text-align: right;
}
/* #h_close {
    position: absolute;
    cursor: pointer;
    color: #888;
} */

/* Style the button as needed */

/* Add any other styling */